<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Алгебра</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<header>
    <div class="alert alert-warning" role="alert">
  <h1>Алгебра</h1>
</div>
    </header>
&emsp;&ensp;<a href="/algebra/log"><img src="static/img/log.jpg"></a>
&emsp;&ensp;<a href="/algebra/nerav"><img src="static/img/nerav.jpg"></a>
&emsp;&ensp;<a href="/algebra/trigo"><img src="static/img/trigo.jpg"></a>
<br>&emsp;&ensp;<a href="/algebra/urav"><img src="static/img/urav.jpg"></a>
&emsp;&ensp;<a href="/algebra/funct"><img src="static/img/funct.jpg"></a>><br/>
</body>
</html>