<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Динамика</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<header>
    <div class="alert alert-secondary" role="alert">
  <h1>Физика: динамика</h1>
</div>
    <p>Динамика изучает взаимодействие тел. Решает следующие задачи: 1) установить законы взаимодействия тел друг с другом; 2) определить влияние этих взаимодействий на механическое движение тел. Для описания взаимодействий вводится понятие "сила".</P>
    <p>Основу динамики составляют законы Ньютона.</p>
    </header>
        <img src="/static/img/dinamglav.png"
         alt="Динамика"
     width="400"
     height="341"
     title="Динамика">
    <h3>Закон всемирного тяготения</h3>
        <p>Явление гравитации - это закон всемирного тяготения. Два тела действуют друг на друга с силой, которая обратно пропорциональна квадрату расстояния между ними и прямо пропорциональна произведению их масс.</p>
    <img src="/static/img/dinamglav.png"
         alt="Закон всемирного тяготения"
     width="400"
     height="341"
     title="Закон всемирного тяготения">
    <p>Математически мы можем выразить этот великий закон формулой</p>
    <div class="alert alert-warning" role="alert">
    &emsp;&ensp;"<img src="/static/img/formulatiagotenia.png"
    alt="Формула тяготения"
     width="400"
     height="341"
     title="Формула тяготения"></div>
    <div>
    &emsp;&ensp;<img src="/static/img/zntiagot.gif"
    alt="Значение элементов в формуле"
     width="400"
     height="341"
     title="Значение элементов в формуле"></div>
    <p>Есть два тела, пусть тело А и В. Тело А притягивает тело В. Сила, с которой тело А воздействует, начинается на теле B и направлена в сторону тела А. То есть как бы "берет" тело B и тянет к себе. Тело В "проделывает" то же самое с телом А.</p>
    <img src="../static/img/zemlia_luna.png"
    alt="Земля 'берет' тело и тянет к своему центру."
     width="400"
     height="341"
     title="Каждое тело притягивается Землей">
</body>
</html>