<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Функции</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<header>
    <div class="alert alert-warning" role="alert">
  <h1>Алгебра: функции</h1>
</div>
    </header>
<h3>1. Действия с алгебраическими дробями</h3>
<p>Дробь — число, состоящее из одной или нескольких равных частей (долей) единицы.</p>
<img src="/static/img/drobi.jpg">
<h3>2. Функция</h3>
<p>Функция - это закон соответствия между переменными величинами, в силу которого каждому рассматриваемому значения некоторой величины x (аргумента или независимой переменной) соответствует только одно определенное значение другой величины y (функции или зависимой переменной).</p>
<img src="/static/img/function.jpg">
<h3>3. Линейная функция. Исследование линейной функции y = kx + b; где k ≠ 0, b ≠ 0</h3>
<p>Линейная функция — это функция вида y = kx + b, где х — независимая переменная, k, b — некоторые числа. При этом k — угловой коэффициент, b — свободный коэффициент. Геометрический смысл коэффициента b — длина отрезка, который отсекает прямая по оси OY, считая от начала координат.</p>
<p>Графиком линейной функции является прямая.</p>
<img src="/static/img/lin_funct.jpg">
<h3>4. Квадратичная функция</h3>
<p>Квадратичная функция — целая рациональная функция второй степени вида.</p>
<p>Уравнение квадратичной функции содержит квадратный трёхчлен. Графиком квадратичной функции является парабола.</p>
<p>Многие свойства графика квадратичной функции так или иначе связаны с вершиной параболы, которая во многом определяет положение и внешний вид графика. Многие свойства квадратичной функции. зависят от значения коэффициента.</p>
<img src="/static/img/kvadrat_funct.jpg">
<h3>5. Модуль числа</h3>
<p>Модулем числа называют расстояние (в единичных отрезках) от начала координат до точки.</p>
<p>То есть модуль - это расстояние между началом координат и данной точкой, а значит: Модуль числа принимает только неотрицательные значения.</p>
<img src="/static/img/modul.jpg">
<h3>6. Степень числа</h3>
<p>Возведение в степень — арифметическая операция, первоначально определяемая как результат многократного умножения числа на себя.</p>
<img src="/static/img/stepen.jpg">
<h3>7. Степенная функция</h3>
<p>Степенная функция – это функция вида f (x) = x a, где: a – показатель степени, является действительным числом, a ≠ 0; x – основание степени, свободная переменная.</p>
<img src="/static/img/stepen_funct.jpg">
<h3>8. Функция y = 1/x</h3>
<p>Графиком функции y = 1/x является гипербола.</p>
<img src="/static/img/giperbola.jpg">
<h3>9. Функция y = kx^3</h3>
<p>Графиком функции y = kx^3 является квадратичная парабола.</p>
<img src="/static/img/kx3.jpg">
<h3>10. Арифметический квадратный корень</h3>
<p>Арифметический квадратный корень - операция, обратная к возведению в квадрат.</p>
<img src="/static/img/koren.jpg">
<h3>10. Функция y = √x</h3>
<p>Функция квадратный корень из x. Один из частных случаев степенной функции. Эта функция не имеет своего собственного имени (в отличие от квадратичной функции или кубической функции) и называется просто формулой. График функции y равен корню из x — ветвь параболы.</p>
<img src="/static/img/koren_funct.jpg">
</body>
</html>