<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Геометрия</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<header>
    <div class="alert alert-danger" role="alert">
  <h1>Геометрия</h1>
</div>
    </header>
<div class="alert alert-warning" role="alert">
    <p>Аксиома - утверждение, которое не требует доказательств.</p>
    <p>Теорема - утверждение, истинность которого устанавливается путем доказательства.</p>
</div>
<div>
    <img src="../static/img/glavgeom.png">
</div>
<a href="/geometry/ygli"><img src="../static/img/ygli.png"></a>
<a href="/geometry/treugol"><img src="../static/img/treug.jpg"></a>
<a href="/geometry/priamie"><img src="../static/img/priamieg.png"></a>
</body>
</html>