<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Кинематика</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<header>
    <div class="alert alert-secondary" role="alert">
  <h1>Физика: кинематика</h1>
</div>
    <p>Кинематика - это раздел физики, который отвечает на вопрос как движутся тела.</p>
    <p>Тело может двигаться равномерно и криволинейно. Равномерно и неравномерно. А также встречаются особые виды неравномерного движения - вращательное и колебательное. В реальном мире любое движение - это чаще всего, совокупность нескольких движений.</p>
    <p>Чтобы описать то, как тела движутся, необходимо для начала определиться с тем, что все мы находимся в реальном пространстве, занимаем в нем какой-то объем. Можно мысленно поэкспериментировать: убрать все предметы из пространства, выйдет "чистое" пространство, совершенно не определяемое в своем существовании. Со временем что-то происходит в пространстве. Время - это физическая величина, измеряется оно принятым и известным нам способом. Трудно представить существование и жизнь, если время вдруг изменило бы свой привычный ход. Однако уже доказан факт того, что пространство и время все-таки действительно при определенных условиях изменяются, а это означает, что изменяются все материальные предметы нас окружающие и все происходит совершенно иначе.</p>
    </header>
        <img src="/static/img/kinemglav.png"
             alt="Кинематика"
     width="400"
     height="341"
     title="Кинематика">
    <div class="alert alert-secondary" role="alert">
    <h3>Свободное падение. Ускорение</h3>
    </div>
        <p>Свободным падение будем называть движение предметов вертикально вниз или вертикально вверх. Это равноускоренное движение, но особый его вид. Для этого движения справедливы все формулы и законы равноускоренного движения. Если тело летит вертикально вниз, то оно ускоряется, в этом случае вектор скорости (направлен вертикально вниз) совпадает с вектором ускорения. Если тело летит вертикально вверх, то оно замедляется, в этом случае вектор скорости (направлен вверх) не совпадает с направлением ускорения. Вектор ускорения при свободном падении всегда направлен вертикально вниз.</p>
        <p>Ускорение при свободном падении тел является постоянной величиной.</p>
        <div class="alert alert-warning" role="alert">
            <img src="/static/img/yskor.png">
        </div>
        <p>Это означает какое бы тело не летело вверх или вниз, его скорость будет изменяться одинаково. НО с одной оговоркой, если силой сопротивления воздуха можно пренебречь.
        <p>Ускорение свободного падения принято обозначать буквой, отличной от ускорения. Но ускорение свободного падения и ускорение это одна и та же физическая величина и имеют они одинаковый физический смысл. Участвуют одинаково в формулах для равноускоренного движения.</p>
        <div class="alert alert-warning" role="alert">
            <img src="/static/img/ravndvigenie.png">
        </div>
    <div class="alert alert-secondary" role="alert">
        <h3>Движение тела, брошенного горизонтально</h3>
    </div>
    <p>Рассмотрим движение тела, брошенного в горизонтальном направлении с некоторой высоты h и начальной скоростью v0. Траектория такого движения имеет вид спадающей ветви параболы.</p>
    <p>Для описания движения тела необходимо задать координатные оси. Ось Оy направим вертикально вверх, горизонтальную ось Оx - вдоль полета. Такое движение по криволинейной траектории рассматривают как сумму двух движений, протекающих независимо друг от друга - движение с ускорением свободного падения вдоль оси Оy и равномерного прямолинейного движения вдоль оси Оx.</p>
    <p>Движение вдоль горизонтальной оси Оx равномерное.</p>
    <img src="/static/img/telo_letit_gor1.gif">
    <p>Движение вдоль вертикальной оси ОУ - свободное падение тела с некоторой высоты h (на графике y0).</p>
    <img src="/static/img/telo_letit_gor2.gif">
</body>
</html>