<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Колебания</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<header>
    <div class="alert alert-secondary" role="alert">
  <h1>Физика: колебания</h1>
</div>
    </header>
        <img src="../static/img/glavkoleb.jpg">
    <h3>Колебательное движение</h3>
    <p>Особый вид неравномерного движения - колебательное. Это движение, которое повторяется с течением времени. Механические колебания - это движения, которые повторяются через определенные промежутки времени. Если промежутки времени одинаковые, то такие колебания называются периодическими.</p>
        <img src="../static/img/kolebprim.gif">
    <h3>Колебательная система</h3>
    <p>Это система взаимодействующих тел (минимум два тела), которые способны совершать колебания. Простейшими колебательными системами являются маятники.</p>
    <h3>Математический маятник</h3>
    <p>Это материальная точка, подвешенная на тонкой нерастяжимой и невесомой нити. Если отклонить маятник от положения равновесия, то сила тяжести и сила упругости будут направлены под углом. Равнодействующая сила уже не будет равна нулю. Под воздействием этой силы маятник устремится к положению равновесия, но по инерции движение продолжится и маятник отклоняется в другую сторону. Равнодействующая сила его снова возвращает. Далее процесс повторяется.</p>
        <img src="../static/img/maiak.gif">
    <p>Период колебаний математического маятника зависит от его длины, определяется по формуле</p>
        <img src="../static/img/formulama.png">
    <h3>Пружинный маятник</h3>
    <p>Это груз, прикрепленный к пружине, массой которой можно пренебречь. Пока пружина не деформирована, сила упругости на тело не действует. В пружинном маятнике колебания совершаются под действием силы упругости.</p>
        <img src="../static/img/pruginma.gif">
        <img src="../static/img/formulama2.png">
</body>
</html>