<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Логарифмы</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<header>
    <div class="alert alert-warning" role="alert">
  <h1>Алгебра: логарифмы</h1>
</div>
    </header>
<h3>1. Логарифмы</h3>
<p>Логарифм по основанию a от аргумента x — это степень, в которую надо возвести число a, чтобы получить число x.</p>
<p>Логарифм — это выражение с двумя переменными (основание и аргумент). Многие на первых порах путают, где находится основание, а где — аргумент. Чтобы избежать досадных недоразумений, просто взгляните на картинку:</p>
<img src="/static/img/logs.png">
<p>Логарифм - это степень, в которую надо возвести основание, чтобы получить аргумент. Именно основание возводится в степень — на картинке оно выделено красным. Получается, что основание всегда находится внизу.</p>
<img src="/static/img/logarifm.jpg">
<h3>2. Логарифмическая функция</h3>
<p>В математике логарифм - это функция, обратная возведению в степень. Это означает, что логарифм данного числа x - это показатель степени, к которому должно быть возведено другое фиксированное число, основание b, чтобы получить это число x. В простейшем случае логарифм подсчитывает количество вхождений одного и того же множителя при повторном умножении.</p>
<img src="/static/img/logfunct.jpg">
<p>Свойства логарифмической функции:</p>
<p>Область определения: D( y ): x ϵ (0; +∞). Подлогарифмическое выражение - положительное. График не пересекает ось O y</p>
<p>Множество значений: E( y ): y ϵ (-∞;+∞)</p>
<p>Четность / нечетность: функция ни четная, ни нечетная</p>
<p>Нули функции: при x = 1 логарифмическая функция y = log a x приобретает значение, равное 0. График пересекает ось O x в точке (1; 0)</p>
<p>Интервалы монотонности: При a > 1 функция возрастает на интервале (0; +∞). При 0 < a < 1 функция убывает на интервале (0; +∞)</p>
<p>Экстремумы функции: функция не имеет экстремумов</p>
<p>Интервалы выпуклости / вогнутости: При a > 1 график функции выпуклый на интервале (0; +∞). При 0 < a < 1 график функции вогнутый на интервале (0; +∞)<p>
<p>Из равенства логарифмов двух чисел по одному и тому же основанию следует равенство самих чисел: log a x = log a y => x = y , a > 0, a ≠ 1</p>
<h3>3. Производная</h3>
<p>Производная функции — это понятие дифференциального исчисления, характеризующее скорость изменения функции в данной точке. Определяется как предел отношения приращения функции к приращению её аргумента при стремлении приращения аргумента к нулю, если такой предел существует. Функцию, имеющую конечную производную (в некоторой точке), называют дифференцируемой (в данной точке).</p>
<img src="/static/img/proiz.jpg">
<h3>4. Таблица производных</h3>
<img src="/static/img/table_proiz.jpg">
<h3>5. Правила дифференцирования</h3>
<p>В основные правила дифференцирования функций входят вынесение констант за знак производной, сумма и разность, умножение и деление функций:</p>
<img src="/static/img/diff.jpg">
<h3>6. Применение производной к исследованию функции</h3>
<p>Исследование функции — задача, заключающаяся в определении основных параметров заданной функции.</p>
<p>Одними из основных аспектов применения производной к исследованию функции являются: исследование функции на возрастание и убывание, исследование функций на выпуклость и вогнутость, нахождение точек экстремума функции, а также наибольшего и наименьшего значения функции.</p>
<img src="/static/img/proiz_iss.jpg">
</body>
</html>