<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Математика</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<header>
    <div class="alert alert-warning" role="alert">
  <h1>Математика</h1>
</div>
    </header>
&emsp;&ensp;<a href="/algebra"><img src="static/img/algebra.jpg"></a>
&emsp;&ensp;<a href="/geometry"><img src="static/img/geometry.jpg"></a>
</body>
</html>