<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Неравенства</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<header>
    <div class="alert alert-warning" role="alert">
  <h1>Алгебра: неравенства</h1>
</div>
    </header>
<h3>1. Универсальные значения</h3>
<img src="/static/img/universal.jpg">
<h3>2. Неравенства</h3>
<p>Неравенством называется алгебраическое выражение, в котором функции связаны между собой знаками сравнения <, >, <=, >=.</p>
<p>Знаки <, > называются знаками строгого неравенства, а знаки <=, >= — знаками нестрогого неравенства.</p>
<p>Если в неравенство входят только числовые величины, то такое неравенство называется числовым неравенством.</p>
<p>Неравенства называют равносильными, если они имеют одно и тоже множество решений.</p>
<p>Основные правила, применяемые при решении неравенств:</p>
<p>1. Если какое-либо слагаемое перенести из одной части неравенства в другую, изменив при этом его знак на противоположный, то получим неравенство, равносильное данному.</p>
<p>2. Если обе части неравенства умножить (разделить) на одно и то же положительное число, то получим неравенство, равносильное данному.</p>
<p>3. Если обе части неравенства умножить (разделить) на одно и то же отрицательное число, изменив при этом знак неравенства на противоположный, то получим неравенство, равносильное данному.</p>
<img src="/static/img/neravenstva.jpg">
<h3>3. Системы линейных неравенств</h3>
<p>Системой линейных неравенств называется любая совокупность двух или более линейных неравенств, содержащих одну и туже неизвестную величину.</p>
<img src="/static/img/system_nerav.jpg">
<h3>4. Квадратные неравенства. Способы решения</h3>
<p>Квадратное неравенство – это такое неравенство, которое имеет вид a ⋅ x 2 + b ⋅ x + c < 0 , где  a ,   b  и  c  – некоторые числа, причем  a не равно нулю. x – это переменная, а на месте знака < может стоять любой другой знак неравенства.</p>
<p>Способов решения квадратных неравенств всего 3:</p>
<p>1. Аналитический</p>
<p>2. Графический</p>
<p>3. Метод интервалов</p>
<img src="/static/img/kvadrat_nerav.jpg"><br>
<img src="/static/img/kvadrat_nerav2.jpg"><br>
<img src="/static/img/kvadrat_nerav3.jpg"><br>
<img src="/static/img/kvadrat_nerav4.jpg"><br>
<img src="/static/img/kvadrat_nerav5.jpg">
<h3>5. Метод интервалов</h3>
<p>Метод интервалов — метод решения неравенств, основанный на разбиении числовой прямой на интервалы, на каждом из которых выражение сохраняет свой знак.</p>
<p>Основан подход, положенный в основу метода промежутков, основан на следующем свойстве непрерывной функции: функция сохраняет постоянный знак на интервале. (a, b)., на котором эта функция непрерывна и не обращается в нуль. Это же свойство характерно для числовых лучей. (−∞, a). и. (a, +∞).</p>
<img src="/static/img/interval.jpg"><br>
<img src="/static/img/interval2.jpg">
</body>
</html>