<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Треугольники</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<header>
    <div class="alert alert-warning" role="alert">
  <h1>Геометрия: треугольники</h1>
</div>
    </header>
<h3>Треугольники</h3>
        <img src="../static/img/smegygli.png">
<h3>Равенство треугольников</h3>
        <img src="../static/img/vertikygli.png">
</body>
</html>