<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Тригонометрия</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<header>
    <div class="alert alert-warning" role="alert">
  <h1>Алгебра: тригонометрия</h1>
</div>
    </header>
<h3>1. Тригонометрия</h3>
<p>Тригонометрия - раздел математики, в котором изучаются тригонометрические функции и их использование в геометрии.</p>
<p>Радиан - углом в один радиан называют центральный угол окружности, опирающийся на дугу, длина которой равна радиусу окружности.</p>
<img src="/static/img/trigonometria.jpg">
<h3>2. Основные тригонометрические тождества</h3>
<p>Основные тригонометрические тождества — это равенства, которые устанавливают связь между синусом, косинусом, тангенсом и котангенсом одного угла. Это значит, что любую из этих функций можно найти, если известна другая функция.</p>
<p>Основное тригонометрическое тождество: sin 2 α + cos 2 α = 1</p>
<img src="/static/img/osn_trigo.jpg"><br>
<img src="/static/img/osn_trigo2.jpg"><br>
<img src="/static/img/osn_trigo3.jpg">
<h3>3. Формулы приведения</h3>
<img src="/static/img/form_priv.jpg">
<h3>4. Тригонометрические функции</h3>
<p>Тригонометрические функции — элементарные функции, которые исторически возникли при рассмотрении прямоугольных треугольников и выражали зависимости длин сторон этих треугольников от острых углов при гипотенузе (или, что равнозначно, зависимость хорд и высот от центрального угла дуги в круге).</p>
<img src="/static/img/trigo_funct.jpg"><br>
<img src="/static/img/trigo_funct2.jpg">
<h3>5. Обратные тригонометрические функции</h3>
<p>Обратные тригонометрические функции (круговые функции, аркфункции) — математические функции, которые являются обратными к тригонометрическим функциям.</p>
<p>Обратные тригонометрические функции — это арксинус, арккосинус, арктангенс и арккотангенс.</p>
<img src="/static/img/obr_trigo_funct.jpg"><br>
<img src="/static/img/obr_trigo_funct2.jpg"><br>
<img src="/static/img/obr_trigo_funct3.jpg">
<h3>4. Тригонометрические уравнения</h3>
<p>Тригонометрическое уравнение – это уравнение, в котором неизвестное находится строго под знаком тригонометрической функции.</p>
<p>Существует два способа решения тригонометрических уравнений:</p>
<p>Первый способ – с использованием формул.</p>
<p>Второй способ – через тригонометрическую окружность.</p>
<img src="/static/img/trigo_urav.jpg"><br>
<img src="/static/img/trigo_urav2.jpg">
</body>
</html>