<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Уравнения</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
</head>
<body>
<header>
    <div class="alert alert-warning" role="alert">
  <h1>Алгебра: уравнения</h1>
</div>
    </header>
<h3>1. Линейные уравнения. Способы разложения на множители</h3>
<p>Линейным называется такое уравнение, в котором неизвестное x находится в числителе уравнения и без показателей.</p>
<p>Линейные уравнения сводятся к виду = b, которое получается при помощи раскрытия скобок, приведения подобных слагаемых, переноса слагаемых из одной части уравнения в другую, а также умножения или деления обеих частей уравнения на число, отличное от нуля.</p>
<img src="/static/img/lin_urav.jpg">
<h3>2. Системы линейных уравнений. Способы решения система уравнений</h3>
<p>Система уравнений — это условие, состоящее в одновременном выполнении нескольких уравнений относительно нескольких (или одной) переменных.</p>
<p>Методы решения систем уравнений:</p>
<p>Основными являются стандартные методы – метод подстановки, метод алгебраического сложения, графический метод.</p>
<img src="/static/img/system_lin_urav.jpg">
<h3>3. Таблица квадратов от 10 до 99. Квадратные уравнения</h3>
<p>Квадратное уравнение — это уравнение вида ax 2 + bx + c = 0, где коэффициенты a , b и c — произвольные числа, причем a ≠ 0.</p>
<img src="/static/img/kvadrat_urav.jpg">
<h3>4. Решение квадратных уравнений</h3>
<img src="/static/img/kvadrat_urav2.jpg">
<h3>5. Разложение квадратного трехчлена на множители</h3>
<img src="/static/img/mnozh_kvadrat_urav.jpg">
<h3>6. Иррациональные уравнения</h3>
<p>Иррациональное уравнение — это уравнение, содержащее неизвестное под знаком корня или возведённое в степень, которую нельзя свести к целому числу.</p>
<img src="/static/img/irr_urav.jpg">
<h3>7. Прогрессии</h3>
<p>Прогрессия — последовательность величин, каждая следующая из которых находится в некой, общей для всей прогрессии, зависимости от предыдущей.</p>
<p>Арифметическая прогрессия — прогрессия, каждый следующий член которой равен предыдущему, увеличенному на фиксированное для прогрессии число.</p>
<p>Геометрическая прогрессия — прогрессия, каждый следующий член которой равен предыдущему, умноженному на фиксированное для прогрессии число.</p>
<img src="/static/img/progr.jpg">
<h3>8. Уравнение касательной</h3>
<p>Уравнение касательной - это прямая, которая задается формулой y = kx + m.</p>
<img src="/static/img/urav_kas.jpg">
</body>
</html>